html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

code {
    word-wrap: break-word;
}

.bg-dark {
    background-color: #0062cc!important;
}

.hidden {
    visibility: hidden;
}

